In [4]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('../datasets/test.csv')

In [3]:
df.head()

                     image  label     text_label
0         other_001083.jpg      1          other
1         other_001944.jpg      1          other
2    lpschalice_000288.jpg      5    lps chalice
3  spsmontipora_001265.jpg      0  sps montipora
4   spsacropora_001869.jpg      2   sps acropora

In [7]:
classes = sorted(os.listdir('../datasets/train/'))

In [10]:
current_lookup = dict(zip(df.label.unique(), df.text_label.unique()))
current_lookup

{1: 'other',
 5: 'lps chalice',
 0: 'sps montipora',
 2: 'sps acropora',
 3: 'zoa',
 4: 'lps euphyllia',
 6: 'lps acanthastrea'}

In [13]:
proper_lookup = dict([(i, c) for i, c in enumerate(classes)])
proper_lookup

{0: 'Acanthastrea',
 1: 'Acropora',
 2: 'Chalice',
 3: 'Euphyllia',
 4: 'Montipora',
 5: 'Other',
 6: 'Zoa'}

In [15]:
replace_lookup = {}
for k, v in current_lookup.items():
    formatted_name = v.replace('lps ', '').replace('sps ', '').capitalize()
    for pk, pv in proper_lookup.items():
        if pv == formatted_name:
            replace_lookup[k] = pk

replace_lookup

{1: 5, 5: 2, 0: 4, 2: 1, 3: 6, 4: 3, 6: 0}

In [16]:
def re_label(row):
    return replace_lookup[row.label]

In [17]:
df.label = df.apply(lambda row: re_label(row), axis=1)

In [18]:
df

                        image  label     text_label
0            other_001083.jpg      5          other
1            other_001944.jpg      5          other
2       lpschalice_000288.jpg      2    lps chalice
3     spsmontipora_001265.jpg      4  sps montipora
4      spsacropora_001869.jpg      1   sps acropora
...                       ...    ...            ...
2159  spsmontipora_001306.jpg      4  sps montipora
2160  spsmontipora_000882.jpg      4  sps montipora
2161   spsacropora_000914.jpg      1   sps acropora
2162           zoa_001088.jpg      6            zoa
2163  lpseuphyllia_001901.jpg      3  lps euphyllia

[2164 rows x 3 columns]

In [19]:
def re_label_text(row):
    return proper_lookup[row.label]

In [20]:
df.text_label = df.apply(lambda row: re_label_text(row), axis=1)

In [21]:
df

                        image  label text_label
0            other_001083.jpg      5      Other
1            other_001944.jpg      5      Other
2       lpschalice_000288.jpg      2    Chalice
3     spsmontipora_001265.jpg      4  Montipora
4      spsacropora_001869.jpg      1   Acropora
...                       ...    ...        ...
2159  spsmontipora_001306.jpg      4  Montipora
2160  spsmontipora_000882.jpg      4  Montipora
2161   spsacropora_000914.jpg      1   Acropora
2162           zoa_001088.jpg      6        Zoa
2163  lpseuphyllia_001901.jpg      3  Euphyllia

[2164 rows x 3 columns]

In [22]:
df.to_csv('../datasets/test.csv')